<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="d-md-flex align-items-center left-footer">
                  <p>© Copyright 2020 spacechain.com</p>
                  <ul>
                      <li><a target="_blank" href="https://spacechain.com/privacy-policy/" >Privacy Policy</a></li>
                      <li><a target="_blank" href="https://spacechain.com/terms/">Terms & Conditions</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 text-md-right">
              <ul class="footer_icons">
                  <li><a target="_blank" href="https://www.facebook.com/spacechainfound/"><img src="../../../assets/images/facebook.svg"></a></li>
                  <li><a target="_blank" href="https://twitter.com/SpaceChain"><img src="../../../assets/images/twitter.svg"></a></li>
                  <!-- <li><a target="_blank" href="https://twitter.com/SpaceChain"><img src="../../../assets/images/instagram.svg"></a></li> -->
              </ul>
          </div>
      </div>
  </div>
</footer>
