<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="d-md-flex align-items-center left-footer">
                  <p>© Copyright 2020 spacechain.com</p>
                  <ul>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 text-md-right">
              <ul class="footer_icons">
                  <li><a href="#"><img src="../../../assets/images/facebook.svg"></a></li>
                  <li><a href="#"><img src="../../../assets/images/twitter.svg"></a></li>
                  <li><a href="#"><img src="../../../assets/images/instagram.svg"></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
